@page "/fuelPrices"
@using System.Text.Json
@using System.Text.Json.Serialization
@inject HttpClient Client

<h1>Calling web API from diesel and benzin prices over the years to see the difference</h1>

@if (diesel is null || benzin is null)
{
    <p>bad luck</p>
}
else
{
    <ApexChart TItem="fuelAPI"
               Title="Compared prices">

        <ApexPointSeries TItem="fuelAPI"
                         Items="benzin"
                         SeriesType="@SeriesType.Area"
                         Name="Benzin"
                         XValue="@(e => e.Date)"
                         YValue="@(e => e.Price)" />
        <ApexPointSeries TItem="fuelAPI"
                         Items="diesel"
                         SeriesType="@SeriesType.Area"
                         Name="Diesel"
                         XValue="@(e => e.Date)"
                         YValue="@(e => e.Price)" />
    </ApexChart>
}
@code {
    private List<fuelAPI>? diesel;
    private List<fuelAPI>? benzin;

    protected override async Task OnInitializedAsync()
    {
        base.OnInitialized();
        diesel = await Client.GetFromJsonAsync<List<fuelAPI>>("https://magsapi.onrender.com/api/diesel");
        benzin = await Client.GetFromJsonAsync<List<fuelAPI>>("https://magsapi.onrender.com/api/miles95");
    }

}